@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
:root{
    --drk_bg:#222831;
    --lgt_bg:#EEEEEE;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: var(--drk_bg);
    min-width: 300px;
    
}